<link rel="stylesheet" type="text/css" href="/css/bet.css">

<div class="bet-amount-text">Montant du pari</div>
<div id="input_warning_message" , class="warning" style="display: none;">
    ce n'est pas un nombre!
</div>
<div class="middle-box">
    <div class="bet-input-field">
        <input type="text" id="bet_amount">
    </div>
    <button class="change-bet-button change-bet-button-middle" id="half_bet">1/2</button>
    <button class="change-bet-button" id="double_bet">2x</button>
</div>

<script  type="module" src="/js/bet.js"></script>