<link rel="stylesheet" href="/css/footer.css">

<footer class="site-footer">
    <div class="footer-container">
      <p>&copy; 2025 Lucky Ace. Tout droits réservés</p>
      <p>Nous suivre</p>
      <div class="links-box">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="link" src="/images/instagram_icon.png"></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="link" src="/images/facebook_icon.png"></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="link" src="/images/youtube_icon.png"></a>
      </div>
      <p style="margin-top: 2rem;">Besoin d'aide?</p>
      <p>Envoyez un ticket aux admins!</p>
      <div class="ticket-form-box">
        <form class="ticket-form">
            <label>Catégorie</label>
            <select id="ticket_category">
                <option value="general">General</option>
                <option value="technique">Technique</option>
                <option value="compte">Compte</option>
                <option value="payments">Payments</option>
                <option value="bug">Bug</option>
                <option value="suggestion">Suggestion</option>
                <option value="réclamation">Réclamation</option>
                <option value="commentaire">Commentaire</option>
            </select>
            <label>Message</label>
            <textarea class="msg-box" id="ticket_message"></textarea>
            <button type="button" id="create_ticket">Envoyer</button>
        </form>
      </div>
    </div>
  </footer>

  <script type="module" src="/js/footer.js"></script>