<div class="rules-box" id="rules_box" hidden>
    <div class="image-container" id="image_container">
        <img id="current_image" alt="Image de la règle" src="/images/Rules/Blackjack/1.png">
    </div>
    <div class="button-box">
        <button id="rules_prev_img">&lt&lt&lt</button>
        <button id="rules_close">Fermer</button>
        <button id="rules_next_img">>>></button>
    </div>

</div>
