<!--Links for the text font-->
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">

<!--Links for the css pages-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/admin.css">


<%- include ("../partials/header.ejs") %>

    <div class="center-box">
        <div class="left-box">
            <select id="value-target" class="select">
                <option value="infos">Infos</option>
                <option value="paris">Paris</option>
                <option value="transactions">Transactions</option>
                <option value="tickets">Tickets</option>
            </select>
            <button class="button-search" id='admin_search_button'>Chercher</button>
        </div>
        <div class="right-box-form" id="form_box" hidden>
            <div class="form-diff" id="form_dif" hidden>
                <div class="button-box">
                    <button id='admin_cancel_form'>Annuler</button>
                    <button id='admin_confirm_form'>Confirmer</button>
                </div>
            </div>
            <div class="delete-box" id="form_delete_element">
                <div class="delete-img">
                    <svg viewBox="0 0 16 16" class="bi bi-trash3-fill" fill="currentColor" height="18" width="18"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5">
                        </path>
                    </svg>
                </div>
                <div class="delete-text">Supprimer</div>
            </div>

            <form class="infos-form" id="admin_form">
                <div class="form-row">
                    <label>Nom d'utilisateur</label>
                    <input>
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <input>
                </div>
                <div class="form-row">
                    <label>Mot de passe</label>
                    <input>
                </div>
            </form>
            <div class="form-butt-row">
                <button id="admin_form_cancel">Annuler</button>
                <button id="admin_form_save">Sauvegarder</button>
            </div>
        </div>
        <div class="right-box-table" id="table_box" hidden>
            <table id="table"></table>
        </div>

    </div>
    <script type="module" src="/js/admin.js"></script>