<!--Links for the text font-->
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">

<!--Links for the css pages-->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/head-tails.css">
<link rel="stylesheet" href="/css/rules.css">

<%- include ("../partials/header.ejs") %>
<%- include ("../partials/rules.ejs") %>
    <div class="center-box">
        <div class="left-panel">
            <img src="images/question_mark.png" class="question" onclick="openRules()">
            <%- include ("../partials/bet.ejs") %>
            <div class="bottom-box">
                <label>Nombre de pièces</label>
                <select class="select" id="nb_coins_select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <button class="action-button" id="button_start_game">Commencer</button>
            </div>
        </div>
        <div class="right-panel">
            <div>
                <label>Prédiction</label>
                <div id="prediction_coins" class="coin-holder">
                    <div class="coin" id="first_coin">
                        <div class="coin-inner" data-rotation="0">
                            <img src="/images/coin_tails_2.png" class="coin-back">
                            <img src="/images/coin_head.png" class="coin-front">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label>Résultat</label>
                <div id="result_coins" class="coin-holder">
                </div>
            </div>
        </div>
    </div>


    <script>
        window.rulesArray = [
            "/images/Rules/Head-tails/0.png",
            "/images/Rules/Head-tails/1.png",
            "/images/Rules/Head-tails/2.png",
            "/images/Rules/Head-tails/3.png",
            "/images/Rules/Head-tails/4.png",
            "/images/Rules/Head-tails/5.png",
        ];
    </script>

    <script type="module" src="/js/head-tails.js">

    </script>
    <script src="/js/rules.js"></script>


    <%- include ("../partials/footer.ejs") %>